extends starter
append body
  .container
    a(href="./") Back to #{restaurant.name}
    h1 Reviews for #{food.name}
    ul
      for review in food.ratings
        li
          div#rest
            h4 Review by #{review.name} (#{review.stars} stars)
            p= review.comment
      else
        li sorry, no reviews found!
    h4 Add review
    form#form(action=current_url, method="post")
      div#sub.input
          span#sub1 Name
          input#sub(type="text", name="name")
      div.input
          span#review Review
          textarea(name="comment", cols="40", rows="1")
      div#reviews.input
        span#span Rating
        div#star
          input(type='radio', name='stars', value='1')#wnr1
          label(for='wnr1') 1
        div#star
          input(type='radio', name='stars', value='2')#wnr2
          label(for='wnr2') 2
        div#star
          input(type='radio', name='stars', value='3')#wnr3
          label(for='wnr3') 3
        div#star
          input(type='radio', name='stars', value='4')#wnr4
          label(for='wnr4') 4
        div#star
          input(type='radio', name='stars', value='5')#wnr5
          label(for='wnr5') 5
      div#submit.actions
          input(type="submit", value="Submit")
